<!-- 這個頁面是首頁 -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    	<!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

		<!-- Custom CSS -->
    <link href="{% static 'dist/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!--datepicker CSS-->
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">


    	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->

    	<!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

        <!--datepicker-->
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    
    

<script>
$(document).ready(function() {
    $( ".btn-link" ).click(function(){
        $(".btn-link").removeClass("selected");
        $(this).addClass("selected");
    });

    $( '#category' ).click(function() {
        var mainCate = $(this).text();
        $('#main-cate').text(mainCate);
    });

    $( '#modal-submit' ).click(function(){
        var lv1 = $( '#main-cate' ).text();
        var lv2 = $( '.btn-link.selected').text();
        $('#costCategory').attr("value", lv1+'-'+lv2);
    });

    $('#datepicker1').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "yyyy/mm/dd"
    });

    $("#datepicker1").datepicker("setDate", new Date());

    $( '.submit' ).click(function(){
        var amount = $('#amount').val();
        var cate = $('#costCategory').attr("value");
        var memo = $('#memo').val();
        var rowcontent;
        if(amount){
            if(cate==='預設類別'){
                rowcontent = "<tr><td><span class='glyphicon glyphicon-file text-success'></span><a href='#'>未分類紀錄: "
                            + amount + "</a></td></tr>";
            }else{
                rowcontent = "<tr><td><span class='glyphicon glyphicon-file text-success'></span><a href='#'>"
                            + cate + "-" + memo + ": "+ amount + "</a></td></tr>";
            }

            $('#cost-list').append(rowcontent);
            $('#amount').val('');
            $('#costCategory').attr("value", "預設類別");
            $('#memo').val('');

        }else{
            alert("支出金額為必填");

        }
    });

}); 

</script>

</head>

<body>

    <!-- whole page wrapper -->
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-book" href="../dashboard.html"> MoneyKeeper</a>
            </div><!-- /.navbar-header -->
            
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-messages -->
                    
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-tasks -->
                    
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-alerts -->
                    
                </li><!-- /.dropdown -->
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    
                </li><!-- /.dropdown-user -->
                
            </ul><!-- /.dropdown -->
            
        </nav><!-- /.navbar-top-links -->


        <!-- Below the navbar starting -->
        <div class="container-fluid">

            <div class="row col-sm-3 col-md-3 left-side">
                <div class="panel-group" id="accordion">

                    <!-- start panel 支出 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list-alt">
                                </span>支出</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table" id="cost-list">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-success"></span><a href="#">食-早餐:50</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-success"></span><a href="#">食-午餐-便當:80</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                        <!-- start panel 收入 -->
                    <div class="panel panel-default hidden">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-list-alt">
                                </span>收入</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-success"></span><a href="#">店租:40000</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-success"></span><a href="#">利息:5000</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                </div>  <!-- /.panel group -->
            </div>  <!-- /.left-side row -->

            <!-- Main container -->
            <div id="page-wrapper" class="col-sm-9 col-md-9">
                
                <div class="container-fluid col-xs-12 col-sm-12">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="titleMenu" class="page-header" style="text-align: center;">
                                <form>
                                    <select id="recordType" name="recordType">
                                        <option value="cost">支出</option>
                                        <option value="revenue">收入</option>
                                    </select>
                                    <select id="payment" name="payment" >
                                        <option value="cash">現金</option>
                                        <option value="credit-card">信用卡</option>
                                        <option value="other">其他</option>
                                    </select>
                                    <input type="text"  data-provide="datepicker" id="datepicker1">
                                </form>
                            </div>
                            <form style="text-align: center;">
                                <span style="font-size: 130px;">&#36</span>
                                <input type="number" id="amount" style="font-size: 100px;">
                                <br />
                                <div class="row" style="text-align: center;">
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">食</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">衣</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">住</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">行</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">育</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">樂</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category">其</button>
                                </div>
                                <span style="font-size: 50px;">分類</span>
                                <input type="text" id="costCategory" value="預設類別" readonly>
                                <br />
                                <span style="font-size:50px;">備註</span>
                                <input type="text" id="memo" />
                                <br />
                                <div class="row">
                                    <input type="button" class="btn btn-default btn-lg submit" value="確定">
                                    <input type="button" class="btn btn-default btn-lg submit" value="清空">
                                </div>
                            </form>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->

            </div><!-- /#page-wrapper (main container) -->
        
        </div><!-- /.container-fluid (whole div below navbar) -->

    </div><!-- /#wrapper (whole page)-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	            <div class="modal-header">
                    <h1 id="main-cate" style="display: none;"></h1>
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title">請選擇次分類</h4>
	            </div>
	            <div class="modal-body" id="sectest">
		            <button type="button" class="btn btn-link" id="sec-category">早餐</button> 
		            <button type="button" class="btn btn-link" id="sec-category">午餐</button>
		            <button type="button" class="btn btn-link" id="sec-category">晚餐</button>
		            <button type="button" class="btn btn-link" id="add-category">新增</button>   
		            <button type="button" class="btn btn-link" id="del-category">刪除</button>
				</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-submit">確定</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	            </div>
	        </div>
	    </div>
	</div>


</body>

</html>