<!-- 這個頁面是首頁 -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    	<!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

		<!-- Custom CSS -->
    <link href="{% static 'dist/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!--datepicker CSS-->
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">


    	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->

    	<!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

        <!--datepicker-->
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    
    

<script>
$(document).ready(function() {
    $( ".btn-link" ).click(function(){
        $(".btn-link").removeClass("selected");
        $(this).addClass("selected");
    });

    $( '#category' ).click(function() {
        var mainCate = $(this).text();
        $('#main-cate').text(mainCate);
    });

    $( '#category2' ).click(function(){
        var mainCate = $(this).text();
        $('#main-cate').text(mainCate);
        $(".btn-link").each(function(index, element){

            if(index == 0){
                $(element).text("包包");
            }else if(index == 1){
                $(element).text("洋裝");
            }else{
                $(element).text("鞋子");
            }

        });
    });

    $( '#modal-submit' ).click(function(){
        var lv1 = $( '#main-cate' ).text();
        var lv2 = $( '.btn-link.selected').text();
        $('#costCategory').attr("value", lv1+'-'+lv2);
    });

    $('#datepicker1').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "yyyy/mm/dd"
    });

    $("#datepicker1").datepicker("setDate", new Date());

    $( '.determin' ).click(function(){
        var amount = $('#amount').val();
        var cate = $('#costCategory').attr("value");
        var memo = $('#memo').val();
        var rowcontent;
        if(amount){
            if(cate==='預設類別'){
                rowcontent = "<tr><td><span class='glyphicon glyphicon-file text-success'></span><a href='#'>未分類紀錄: "
                            + amount + "</a></td></tr>";
            }else{
                if(memo!==''){
                    rowcontent = "<tr><td><span class='glyphicon glyphicon-file text-success'></span><a href='#'>"
                            + cate + "-" + memo + ": "+ amount + "</a></td></tr>";
                }
                else{
                    rowcontent = "<tr><td><span class='glyphicon glyphicon-file text-success'></span><a href='#'>"
                            + cate + ": "+ amount + "</a></td></tr>";
                }
            }

            $('#cost-list').append(rowcontent);
            $('#amount').val('');
            $('#costCategory').attr("value", "預設類別");
            $('#memo').val('');

        }else{
            alert("支出金額為必填");

        }
    });

    $('.clear').click(function(){
        $('#amount').val('');
        $('#costCategory').attr("value", "預設類別");
        $('#memo').val('');
    })

}); 

</script>

</head>

<body>

    <!-- whole page wrapper -->
    <div id="wrapper container">

        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".panel-group">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-book" href="/dashboard/"></a>
                <a href="/dashboard/"><img src="../static/image/logo.png" alt="logo" class="navbar-brand glyphicon glyphicon-book" height="30px" width="200px" border="0" /></a>
            </div><!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                
                <!-- start bell dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 以後會放提醒內容
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 以後會放提醒內容
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-alerts -->
                </li><!-- /.dropdown -->

                <!-- start user dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/setting/"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    
                </li><!-- /.dropdown-user -->
                
            </ul><!-- /.dropdown -->            
        </nav><!-- /.navbar-top-links -->


        <!-- Below the navbar starting -->
        <div class="container-fluid" style="background-color: rgb(229, 228, 219);">

            <div class="row col-sm-3 col-md-3 left-side">
                <div class="panel-group collapse in" id="accordion" aria-expanded="true">

                    <!-- start panel 支出 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/filter/"><span class="glyphicon glyphicon-list-alt">
                                </span>查看帳本</a>
                            </h4>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                    <!-- start panel 支出 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list-alt">
                                </span>支出</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table" id="cost-list">
                                    
                                </table>
                            </div>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                        <!-- start panel 收入 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-list-alt">
                                </span>收入</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    
                                </table>
                            </div>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                </div>  <!-- /.panel group -->
            </div>  <!-- /.left-side row -->

            <!-- Main container -->
            <div id="page-wrapper" class="col-sm-9 col-md-9" style="min-height: 167px; background-color: rgb(229, 228, 219);">

                <div class="container-fluid col-xs-12 col-sm-12">
                    
                    <div class="row">
                        <div class="col-lg-12" style="background-color: #fff; margin-top: 20px;">
                            <div id="titleMenu" class="page-header" style="text-align: center;">
                                <form>
                                    <select id="recordType" name="recordType">
                                        <option value="cost">支出</option>
                                        <option value="revenue">收入</option>
                                    </select>
                                    <select id="payment" name="payment" >
                                        <option value="cash">現金</option>
                                        <option value="credit-card">信用卡</option>
                                        <option value="other">其他</option>
                                    </select>
                                    <input type="text"  data-provide="datepicker" id="datepicker1">
                                </form>
                            </div>
                            <form style="text-align: center;">
                                <label class="test" style="font-size: 100px;padding-right: 20px;">$</label>
                                <input type="number" id="amount">
                                <br />
                                <div class="row" style="text-align: center; margin-bottom: 20px;">
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category" style="background: #8D8F76 no-repeat;">食</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category2" style="background: #BAB6AF no-repeat;">衣</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category" style="background: #E19F81 no-repeat;">住</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category" style="background: #73AFB8 no-repeat;">行</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category" style="background: #BA736A no-repeat;">育</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category" style="background: url('../static/image/yellow.png') no-repeat;">樂</button>
                                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal" id="category" style="background: url('../static/image/brown.png') no-repeat;">其</button>
                                </div>
                                <div class="row" style="margin-bottom: 20px;">
                                    <label style="font-size: 25px; padding-right: 5px;">分類</label>
                                    <input type="text" id="costCategory" value="預設類別" readonly>
                                </div>
                                <div class="row">
                                    <label style="font-size: 25px; padding-right: 5px;">備註</label>
                                    <input type="text" id="memo" />
                                </div>
                                <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
                                    <input type="button" class="btn-default btn-lg submit determin" id="last-btn" value="確定" style="border: 2px solid #03aaa0;">
                                    <input type="button" class="btn-default btn-lg submit clear" id="last-btn" value="清空" style="border: 2px solid #03aaa0;">
                                </div>
                            </form>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->

            </div><!-- /#page-wrapper (main container) -->
        
        </div><!-- /.container-fluid (whole div below navbar) -->

    </div><!-- /#wrapper (whole page)-->

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	            <div class="modal-header">
                    <h1 id="main-cate" style="display: none;"></h1>
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title">請選擇次分類</h4>
	            </div>
	            <div class="modal-body" id="sectest">
		            <button type="button" class="btn btn-link" id="sec-category">早餐</button> 
		            <button type="button" class="btn btn-link" id="sec-category">午餐</button>
		            <button type="button" class="btn btn-link" id="sec-category">晚餐</button>
		            <button type="button" class="btn btn-link" id="add-category">新增</button>   
		            <!-- <button type="button" class="btn btn-link" id="del-category">刪除</button> -->
				</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-submit">確定</button>
	                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	            </div>
	        </div>
	    </div>
	</div>
    <!-- Modal 2 -->

</body>

</html>