<!-- 這個頁面是首頁 -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MoneyKeeper</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    	<!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

		<!-- Custom CSS -->
    <link href="{% static 'dist/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!--datepicker CSS-->
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">

        <!-- bootstrap notification bell -->
    <link href="{% static 'dist/css/bootstrap-notifications.min.css' %}" rel="stylesheet">

    	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->

    	<!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

        <!--datepicker-->
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    
    

<script>
$(document).ready(function() {
    $( ".btn-link" ).click(function(){
        $(".btn-link").removeClass("selected");
        $(this).addClass("selected");
        $.ajaxSetup({  
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' },  
            });  
    });

    defaultHiding();

    
    subCategorySelected();	// 增加次分類的selected屬性

	// 支出主分類被點擊的時候跳出的子分類視窗呈現
    $(".cost-category").click(function(){
        var categoryType = $(this).attr('id');
        var categoryName = $(this).text();
        var mainCate = $("#myModal-cost").find("div.modal-header").children("#main-cate");
        mainCate.text(categoryName);    // 主分類被點擊的時候會在modal裡面放入主分類的名稱
        mainCate.removeClass();
        mainCate.addClass(categoryType);

        var allButtonList = $("#myModal-cost").find("div.modal-body").children();
        allButtonList.addClass('hidden');
        var selectedList = "." + categoryType + "_list";
        $(selectedList).removeClass('hidden');

    });

    // 收入主分類被點擊的時候跳出的子分類視窗呈現
    $(".revenue-category").click(function(){
        var categoryType = $(this).attr('id');
        var categoryName = $(this).text();
        var mainCate = $("#myModal-revenue").find("div.modal-header").children("#main-cate");
        mainCate.text(categoryName);
        mainCate.removeClass();
        mainCate.addClass(categoryType);

        var allButtonList = $("#myModal-revenue").find("div.modal-body").children();
        allButtonList.addClass('hidden');
        var selectedList = "." + categoryType + "_list";
        $(selectedList).removeClass('hidden');

    });
	

	// 當modal的確認被按下後，會提交給分類欄位
    $( '.modal-btn.modal-submit' ).click(function(){
        var mainCate = $(this).parents(".modal-content").children(".modal-header").children("h1#main-cate");
        var lv1 = mainCate.text();
        var lv2 = $( '.btn-link.selected').text();
        if(lv2===''){
           $('#costCategory').attr("value", lv1);
        }else{
           $('#costCategory').attr("value", lv1+'-'+lv2);
        }

        mainCate.text("");
    });

    $('#datepicker1').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "yyyy/mm/dd"
    });

    $("#datepicker1").datepicker("setDate", new Date());


    // 日期改變要切換左方收支清單
    $("#datepicker1").change(function(){

        var newDate = $('#datepicker1').val();
        if(newDate){
            $.ajax({
                dataType: 'json',
                url: "/getNewDate/",
                type:"POST",
                data: {date : newDate},
                success: function(rowcontent){
                    $("#cost-list tbody tr").remove();
                    $('#cost-list').append(rowcontent.cost);
                    $("#revenue-list tbody tr").remove();
                    $("#revenue-list").append(rowcontent.revenue);
                },
                error: function(rowcontent, status){
                    console.log(status);
                    alert("抓新日期失敗")
                }
            });
        }
    });

	// 復原與清空表單
    $('.clear').click(function(){
        $('#amount').val('');
        $('#costCategory').attr("value", "食-早餐");
        $('#memo').val('');
    })


    // 新增支出or收入明細
    // 
    // 我先把收入的地方寫死，之後把if(record_type === 'expense') 這層的判斷式拿掉
    // 用success裡面的判斷式就好
    // 
    // 
    $('#submit-btn').click(function(){
        var amount = $('#amount').val();
        var category = $('#costCategory').attr("value");
        var memo = $('#memo').val();
        var record_type = $('#recordType').val();
        if(amount){
                $.ajax({
                    dataType: 'json',
                    url: "/createReceipt/",
                    type:"POST",
                    data: {amount : amount, category : category,
                        memo: memo, record_type: record_type, payment: $('#payment').val(),
                        date: $('#datepicker1').val()},
                    success: function(result){
                        var rowcontent = result.rowcontent;
                        var notificationMessage = result.budget_check;

                        if(record_type === 'expense'){
                            rowcontent = rowcontent.replace("food-", "食-").replace("clothing-", "衣-").replace("housing-", "住-").replace("transportation-", "行-").replace("education-", "育-").replace("entertainment-", "樂-").replace("others-", "其-");
                            $('#cost-list').append(rowcontent);
                            $('#costCategory').attr("value", "食-早餐");

                        }else if(record_type === 'income'){
                            rowcontent = rowcontent.replace("general_revenue-", "收入-").replace("invest_revenue-", "投資-").replace("other_revenue-", "其他-");
                            $('#revenue-list').append(rowcontent);
                            $('#costCategory').attr("value", "一般收入");
                        }
                        $('#amount').val('');
                        $('#memo').val('');

                        checkNotificationBellMessage(notificationMessage.monthly);
                        checkNotificationBellMessage(notificationMessage.class);

                    },
                    error: function(){
                        if(record_type === 'expense'){
                            $('#costCategory').attr("value", "食-早餐");
                        }else{
                            $('#costCategory').attr("value", "一般收入");
                        }
                        $('#amount').val('');
                        $('#memo').val('');
                        alert("記帳失敗");
                    }
                });
        }else{
            alert("支出金額為必填");

        }
    });


	// 實作新增次分類的動畫效果
    $('.subCategoryAdder').click(function(){
        $(".subCategoryAdder").hide();
        $('.new-sub-handler').animate({
            width: 'toggle'
        });

        $(".modal-btn").prop('disabled', true);
    });

    $('.btn.new-sub-handler').click(function(){
        $('.new-sub-handler').hide();
        $(".subCategoryAdder").show();
        $(".modal-btn").prop('disabled', false);

    });

	// 填完新次分類要增加到選單列表中
    $('.new-sub-handler.new-sub-submit').click(function(){
        var modalPopupID = $(this).parents(".modal.fade").attr("id");

        var newSub;
        var classname;
        if(modalPopupID === 'myModal-cost'){
            newSub = $('#new-expense-sub-text');
            classname = $("#myModal-cost").find("div.modal-header").children("#main-cate").attr('class');
        }else if(modalPopupID === 'myModal-revenue'){
            newSub = $('#new-income-sub-text');       
            classname = $("#myModal-revenue").find("div.modal-header").children("#main-cate").attr('class');     
        }

        var newSubText = newSub.val();
        if(newSub){
            $.ajax({
                url: "/createSubCategory/",
                type:"POST",
                data: {newSub : newSubText, category : classname},
                success: function(rowcontent){
                    $(".modal-body").append(rowcontent)
                    subCategorySelected();
                    newSub.val('');
                },
                error: function(){
                    alert("新增子分類失敗");
                }
            });
        }
    });

    // 選擇支出或收入項目，會切換主分類顯示
    $('#recordType').change(function(){
        var type = $("#recordType").val();

        if(type === "expense"){
            $('.revenue-category').hide();
            $('.cost-category').show();
            $("#costCategory").attr('value', '食-早餐');
        }else{
            $('.revenue-category').show();
            $('.cost-category').hide();
            $("#costCategory").attr('value', '一般收入');
        }
    });


    // 如果在選擇次分類的畫面時，按到背景的其他地方要做的事情
    $('.modal.fade').on('hidden.bs.modal', function () {
        $('.new-sub-handler').hide();   // 新增子分類的確定按鈕要隱藏
        $(".subCategoryAdder").show();
        $(".modal-btn").prop('disabled', false);    // 如果在新增子分類時按了背景，要把被鎖定的按鈕解鎖
    });


    // notification handling
    var notification_len = {{ periodic_notification_count}};
    if(notification_len > 0){
        $(".fa-bell").addClass('notification-icon');
        $(".fa-bell").attr("data-count", notification_len);
    }

}); // end document ready

// 用來讓每個次分類被點擊的時候都會多一個class-selected
// 且移除其他item 的selected class
function subCategorySelected(){
    $( ".btn-link" ).click(function(){
        $(".btn-link").removeClass("selected");
        $(this).addClass("selected");
    });
}


// 頁面一loading進來預設會隱藏的元件
function defaultHiding(){
    $(".new-sub-handler").hide();   // new-sub-handler的物件預設隱藏
    $('.revenue-category').hide();  // 初始隱藏收入分類
}

// 左方記錄如果刪除的listenser
// 會先把叉叉標記class="deletedRecord"
// 這邊是click 事件
$(document).on("click", ".deletedRecord", function(){
    var record = $(this).parents("tr");
    var recordValue = $(this).prev().text().trim();
    
    var recordArray = recordValue.split(":");
    var amount = recordArray[1];
    var recordArray1 = recordArray[0].split("-");
    var category = recordArray1[0];

    // 把中文的分類轉換回英文傳回server.
    switch(category){
        case "食":
            category="food";
            break;
        case "衣":
            category="clothing";
            break;
        case "住":
            category="housing";
            break;
        case "行":
            category="transportation";
            break;
        case "育":
            category="education";
            break;
        case "樂":
            category="entertainment";
            break;
        case "收入":
            category="general_revenue";
            break;
        case "投資":
            category="invest_revenue";
            break;
        case "其他":
            category="other_revenue";
            break;
        default:
            category="others";
            break;
    }
    var subcategory = recordArray1[1];
    var memo = "";
    if(recordArray1.length == 3){
        memo = recordArray1[2];
    }
    var result = confirm("你真的要刪掉：" + recordValue + "嗎？");
    if(result){
        $.ajax({
            url: "/deleteReceipt/",
            type:"POST",
            data: {amount : amount, subcategory : subcategory, category : category,
                memo: memo, date: $('#datepicker1').val()},
            success: function(rowcontent){
                record.remove();
                alert("刪除了" + recordValue);
            },
            error: function(){
                alert("刪除" + recordValue+"失敗");
            }                
        });
    }
}); // end document on click class='deletedRecord'


// 左方支出與收入清單的滑鼠事件 （把滑入進入和離開事件一起寫）
$(document).on({
    mouseenter: function(){
        //stuff
        $(this).children("span:last-child").text("×");
        $(this).children("span:last-child").addClass("deletedRecord");
    },
    mouseleave: function(){
        //stuff
        $(this).children("span:last-child").empty();
        $(this).children("span:last-child").removeClass("deletedRecord");
    }
}, "#cost-list tr td, #revenue-list tr td");    // end document on mouse event.


// 檢查是否有通知訊息需要發出
function checkNotificationBellMessage(message){
    console.log("訊息" + message);
    if(message === "正常")    // 如果檢查正常不用警告
        return;
    else if(message === null || message === "") // 如果沒訊息
        return;
    else{
        if( $(".dropdown-alerts").children().length > 0 ){
            if( $(".fa-bell").hasClass("notification-icon") ){
               var count = parseInt( $(".fa-bell").attr("data-count") );
                count = count + 1;
                $(".fa-bell").attr("data-count", count);
            }else{
                $(".fa-bell").addClass("notification-icon");
                $(".fa-bell").attr("data-count","1");
            }

            $(".dropdown-alerts").prepend("<li><a href='#'><div><i class='fa fa-comment fa-fw'></i>" 
                                + message + "</div></a></li><li class='divider'></li>");
        }else{
            $(".fa-bell").addClass("notification-icon");
            $(".fa-bell").attr("data-count","1");

            $(".dropdown-alerts").append("<li><a href='#'><div><i class='fa fa-comment fa-fw'></i>" 
                                    + message + "</div></a></li>");
            $(".dropdown-alerts").append("<li class='divider'></li><li id='clear-alert'><a href='#'><strong>清除所有警告</strong>" +
                                    "</a></li>");
        }   
    }
}


// 處理按下通知鈴鐺後的改變
$(document).on("click", "#notification-bell", function(){
    if( $(".dropdown-alerts").children().length > 1 ){
        $(".fa-bell").removeClass("notification-icon");
        $(".fa-bell").removeAttr("data-count");

    }else{
		// 如果沒通知卻按下鈴鐺要有相對應文字
        var expandedAttr = $("#notification-bell").attr("aria-expanded");

        if( expandedAttr === "true" ){
            $(".dropdown-alerts").append("<li><a href='#'><strong>目前沒有通知</strong></a></li>");
        }else{
            $(".dropdown-alerts").empty();	// 關閉視窗
        }
    }
});

$(document).on("click", "#clear-alert", function(){
    $(".dropdown-alerts").empty();
});
    

</script>



</head>

<body>

    <!-- whole page wrapper -->
    <div id="wrapper container">

        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand glyphicon glyphicon-book" href="/dashboard/"></a>
                <a href="/dashboard/"><img src="../static/image/logo.png" alt="logo" class="navbar-brand glyphicon glyphicon-book" height="30px" width="200px" border="0" /></a>
            </div><!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <!-- start bell dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;" id="notification-bell">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        {% for notification in periodic_notification_list %}
                            <li>
                                <a href='#'>
                                    <div>
                                        <i class='fa fa-comment fa-fw'></i>
                                            {{notification}}
                                    </div>
                                </a>
                            </li>
                            {% if not forloop.last %}
                                <li class='divider'></li>
                            {% endif %}
                        {% endfor %}
                    </ul><!-- /.dropdown-alerts -->
                </li><!-- /.dropdown -->

                <!-- start user dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/setting/"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>

                </li><!-- /.dropdown-user -->

            </ul><!-- /.dropdown -->
        </nav><!-- /.navbar-top-links -->


        <!-- Below the navbar starting -->
        <div class="container-fluid" style="background-color: rgb(229, 228, 219);">

            <div class="row col-sm-3 col-md-3 left-side">
                <div class="panel-group collapse in" id="accordion" aria-expanded="true">

                    <!-- start panel 支出 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/filter/"><span class="glyphicon glyphicon-list-alt">
                                </span>查看帳本</a>
                            </h4>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                    <!-- start panel 支出 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list-alt">
                                </span>支出  總計: </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table" id="cost-list">
                                    {% for cost_receipt in cost_list %}
                                    <tr>
                                        <td>
                                            <span class='glyphicon glyphicon-file text-success'></span>
                                            {% if cost_receipt.remark %}
                                                <a href='#'>{% if cost_receipt.subclassification.classification.classification_type == "food" %}食{% elif cost_receipt.subclassification.classification.classification_type == "clothing" %}衣{% elif cost_receipt.subclassification.classification.classification_type == "housing" %}住{% elif cost_receipt.subclassification.classification.classification_type == "transportation" %}行{% elif cost_receipt.subclassification.classification.classification_type == "education" %}育{% elif cost_receipt.subclassification.classification.classification_type == "entertainment" %}樂{% else %}其{% endif %}-{{cost_receipt.subclassification.name}}-{{cost_receipt.remark}}: {{cost_receipt.money}}
												</a>
                                            {% else %}
                                                <a href='#'>{% if cost_receipt.subclassification.classification.classification_type == "food" %}食{% elif cost_receipt.subclassification.classification.classification_type == "clothing" %}衣{% elif cost_receipt.subclassification.classification.classification_type == "housing" %}住{% elif cost_receipt.subclassification.classification.classification_type == "transportation" %}行{% elif cost_receipt.subclassification.classification.classification_type == "education" %}育{% elif cost_receipt.subclassification.classification.classification_type == "entertainment" %}樂{% else %}其{% endif %}-{{cost_receipt.subclassification.name}}: {{cost_receipt.money}}
												</a>
                                            {% endif %}
                                            <span style='float: right; margin-right: 10px; color: #9D9D9D;'></span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>  <!-- /.panel 支出 -->

                        <!-- start panel 收入 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-list-alt">
                                </span>收入  總計: </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
								<table class="table" id="revenue-list">
                                    {% for revenue_receipt in revenue_list %}
                                    <tr>
                                        <td>
                                            <span class='glyphicon glyphicon-file text-success'></span>
                                            {% if revenue_receipt.remark %}
                                                <a href='#'>{% if revenue_receipt.subclassification.classification.classification_type == "general_revenue" %}收入{% elif revenue_receipt.subclassification.classification.classification_type == "invest_revenue" %}投資{% else %}其他{% endif %}-{{revenue_receipt.subclassification.name}}-{{revenue_receipt.remark}}: {{revenue_receipt.money}}
												</a>
                                            {% else %}
                                                <a href='#'>{% if revenue_receipt.subclassification.classification.classification_type == "general_revenue" %}收入{% elif revenue_receipt.subclassification.classification.classification_type == "invest_revenue" %}投資{% else %}其他{% endif %}-{{revenue_receipt.subclassification.name}}: {{revenue_receipt.money}}
												</a>
                                            {% endif %}
                                            <span style='float: right; margin-right: 10px; color: #9D9D9D;'></span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>  <!-- /.panel 收入 -->

                </div>  <!-- /.panel group -->
            </div>  <!-- /.left-side row -->

            <!-- Main container -->
            <div id="page-wrapper" class="col-sm-9 col-md-9" style="min-height: 167px; background-color: rgb(229, 228, 219);">

                <div class="container-fluid col-xs-12 col-sm-12">

                    <div class="row">
                        <div class="col-lg-12" style="background-color: #fff; margin-top: 20px;">
                            <div id="titleMenu" class="page-header" style="text-align: center;">
                                <form method="post" id="formadd">
                                    <select id="recordType" name="recordType">
                                        <option value="expense">支出</option>
                                        <option value="income">收入</option>
                                    </select>
                                    <select id="payment" name="payment" >
                                        <option value="cash">現金</option>
                                        <option value="credit_card">信用卡</option>
                                        <option value="other">其他</option>
                                    </select>
                                    <input type="text"  data-provide="datepicker" id="datepicker1">
                                </form>
                            </div>
                            <div style="text-align: center;">

                                <label class="test" style="font-size: 100px;padding-right: 20px;">$</label>
                                <input type="number" id="amount">
                                <br />
                                <div class="row" id="main-type-choose" style="text-align: center; margin-bottom: 20px;">
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="food" style="background: #8D8F76 no-repeat;">食</button>
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="clothing" style="background: #BAB6AF no-repeat;">衣</button>
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="housing" style="background: #E19F81 no-repeat;">住</button>
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="transportation" style="background: #73AFB8 no-repeat;">行</button>
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="education" style="background: #BA736A no-repeat;">育</button>
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="entertainment" style="background: url('../static/image/yellow.png') no-repeat;">樂</button>
                                    <button type="button" class="btn btn-default btn-lg cost-category" data-toggle="modal" data-target="#myModal-cost" id="others" style="background: url('../static/image/brown.png') no-repeat;">其</button>
                                    <button type="button" class="btn btn-default btn-lg revenue-category" data-toggle="modal" data-target="#myModal-revenue" id="general_revenue" style="background: #8D8F76 no-repeat;">一般收入</button>
                                    <button type="button" class="btn btn-default btn-lg revenue-category" data-toggle="modal" data-target="#myModal-revenue" id="invest_revenue" style="background: #BAB6AF no-repeat;">投資收入</button>
                                    <button type="button" class="btn btn-default btn-lg revenue-category" data-toggle="modal" data-target="#myModal-revenue" id="other_revenue" style="background: #E19F81 no-repeat;">其他</button>
                                </div>
								
                                <div class="row" style="margin-bottom: 20px;">
                                    <label style="font-size: 25px; padding-right: 5px;">分類</label>
                                    <input type="text" id="costCategory" value="食-早餐" readonly>
                                </div>
                                <div class="row">
                                    <label style="font-size: 25px; padding-right: 5px;">備註</label>
                                    <input type="text" id="memo" />
                                </div>
                                <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
                                    <input type="submit" class="btn-default btn-lg submit determin" id="submit-btn" value="確定" style="border: 2px solid #03aaa0;">
                                    <input type="button" class="btn-default btn-lg submit clear" id="last-btn" value="清空" style="border: 2px solid #03aaa0;">
                                </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->

            </div><!-- /#page-wrapper (main container) -->

        </div><!-- /.container-fluid (whole div below navbar) -->

    </div><!-- /#wrapper (whole page)-->

	<!-- Modal -->
	<div class="modal fade" id="myModal-cost" role="dialog">
	    <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	            <div class="modal-header">
                    <h1 id="main-cate" style="display: none;"></h1>
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title">請選擇子分類</h4>
	            </div> <!-- /.modal-header -->

	            <div class="modal-body">
                    {% for food in food_list %}
                        <button type="button" class="btn btn-link food_list hidden sec-category">{{ food.name }}</button>
                    {% endfor %}
                    {% for clothing in clothing_list %}
                        <button type="button" class="btn btn-link clothing_list hidden sec-category">{{ clothing.name }}</button>
                    {% endfor %}
                    {% for housing in housing_list %}
                        <button type="button" class="btn btn-link housing_list hidden sec-category">{{ housing.name }}</button>
                    {% endfor %}
                    {% for transportation in transportation_list %}
                        <button type="button" class="btn btn-link transportation_list hidden sec-category">{{ transportation.name }}</button>
                    {% endfor %}
                    {% for education in education_list %}
                        <button type="button" class="btn btn-link education_list hidden sec-category">{{ education.name }}</button>
                    {% endfor %}
                    {% for entertainment in entertainment_list %}
                        <button type="button" class="btn btn-link entertainment_list hidden sec-category">{{ entertainment.name }}</button>
                    {% endfor %}
                    {% for others in others_list %}
                        <button type="button" class="btn btn-link others_list hidden sec-category">{{ others.name }}</button>
                    {% endfor %}
					
				</div> <!-- /.modal-body -->
                
	            <div class="modal-footer">
                    <div style="float: left;">
                        <button type="button" class="btn btn-default subCategoryAdder">新增子分類</button>
                        <input type="text" id="new-expense-sub-text" class="new-sub-handler" placeholder="請輸入次分類名稱" maxlength="10" />
                        <button type="button" class="btn btn-success btn-sm new-sub-handler new-sub-submit">新增</button>
                        <button type="button" class="btn btn-danger btn-sm new-sub-handler">取消</button>
                    </div>
	                <button type="button" class="btn btn-default modal-btn modal-submit" data-dismiss="modal">確定</button>
	                <button type="button" class="btn btn-default modal-btn" data-dismiss="modal">取消</button>
	            </div> <!-- /.modal-footer -->
	        </div>
	    </div>
	</div>
    <!-- /.modal -->


    <!-- Modal2 -->
    <div class="modal fade" id="myModal-revenue" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h1 id="main-cate" style="display: none;"></h1>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">請選擇子分類</h4>
                </div> <!-- /.modal-header -->

                <div class="modal-body">
                    {% for general_revenue in general_revenue_list %}
                        <button type="button" class="btn btn-link general_revenue_list hidden sec-category">{{ general_revenue.name }}</button>
                    {% endfor %}
                    {% for invest_revenue in invest_revenue_list %}
                        <button type="button" class="btn btn-link invest_revenue_list hidden sec-category">{{ invest_revenue.name }}</button>
                    {% endfor %}
                    {% for other_revenue in other_revenue_list %}
                        <button type="button" class="btn btn-link other_revenue_list hidden sec-category">{{ other_revenue.name }}</button>
                    {% endfor %}
                </div> <!-- /.modal-body -->
                
                <div class="modal-footer">
                    <div style="float: left;">
                        <button type="button" class="btn btn-default subCategoryAdder">新增子分類</button>
                        <input type="text" id="new-income-sub-text" class="new-sub-handler" placeholder="請輸入次分類名稱" maxlength="10" />
                        <button type="button" class="btn btn-success btn-sm new-sub-handler new-sub-submit">新增</button>
                        <button type="button" class="btn btn-danger btn-sm new-sub-handler">取消</button>
                    </div>
                    <button type="button" class="btn btn-default modal-btn modal-submit" data-dismiss="modal">確定</button>
                    <button type="button" class="btn btn-default modal-btn" data-dismiss="modal">取消</button>
                </div> <!-- /.modal-footer -->
            </div>
        </div>
    </div>
    <!-- /.modal2 -->
</body>

</html>