<!-- 這個頁面是設定頁 -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MoneyKeeper</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    	<!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

		<!-- Custom CSS -->
    <link href="{% static 'dist/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!--datepicker CSS-->
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    	<!-- Animate CSS -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">

		<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->

    	<!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <style type="text/css">
    	span.item-title {
			font-size: 20px;
			font-weight: 600;
			word-spacing:10px;
			white-space:nowrap;
    	}

    	input[type="text"] {
    		width: 25em;
    		height: 30px;
    	}

    	.edit-img-btn {
			border: 0; 
			background-color: transparent; 
			width: 32px; 
			height: 32px;    	
		}

		.sub-category { 
		    position: relative; 
		    margin-right: 2px;
		}

		/* 用來在次分類上增加刪除的叉 */
		.sub-category span { 
		    position: absolute; 
		    top: -18px;  /* position in bottom right & top corner */
		    right: -8px;
		    z-index: 100;
		    width: 16px;
		    height: 16px;
		    color: red;
		    font-size: 23px;
		}   

    </style>

    <script>
    // 用來在一開始隱藏不需要的欄位
    function defaultHiding(){
		$(".passwd-set").hide();
		$(".sub-category-del-submit").hide();
		$(".table4-del-submit").hide();

    }	// end function defaultHiding()

	$(document).ready(function(){
		defaultHiding();	// 先把要隱藏的欄位隱藏

		// 重設按鈕按下
		$("#go-passwd-set").click(function(){
			$(".passwd-set").animate({
				height: 'toggle'
			});
			$(this).hide();
		});
		
		// 密碼設定完成的確認按鈕
		$(".passwd-submit").click(function(){
			$(".passwd-set").animate({
				height: 'toggle'
			});
			$("#go-passwd-set").show(1000);
		});

		// 刪除子分類的按鈕事件
		$("#btn-sub-category-del").click(function(){
			$(this).hide();
			$(".sub-category-del-submit").animate({
				width:'toggle'
				}
			);

			var list_sub_category = $(".sub-category");
			list_sub_category.removeClass("btn-link");
			list_sub_category.addClass("btn-default");
			list_sub_category.addClass("confirm");
			list_sub_category.addClass("animated");	// 套用animate css
			list_sub_category.addClass("swing");	// 使用swing 動畫
			list_sub_category.append("<span>&times;</span>");
			sub_category_deletionHandler();

		});

		// 確定刪除or取消刪除子分類的按鈕
		$(".sub-category-del-submit").click(function(){
			$(".sub-category-del-submit").hide();
			$("#btn-sub-category-del").animate({
				width:'toggle'
				},
				600
			);

			var list_sub_category = $(".sub-category");
			list_sub_category.removeClass("btn-default");
			list_sub_category.removeClass("animated");
			list_sub_category.removeClass("swing");
			list_sub_category.addClass("btn-link");
			$(".sub-category > span").remove();
		});

		// 刪除週期性支出項目
		$("#btn-duration-cost-del").click(function(){
			$(this).hide();
			$(".table4-del-submit").animate({
				width: 'toggle'
			});
			table4deletionBtnHandler()	// 執行完動畫後做table4 handler().
		});

		// 按下週期性項目[刪除完畢]
		$("#table4-del-finish").click(function(){
			var deltArr = [];
			
			$("#table4 tr td:first-child input:checked").each(function(index){
				var deltItem = $(this).parent().next().text().trim();
				deltArr.push( deltItem );	// 把要刪除的筆數加進陣列
			});

			var cout = "";
			$.each(deltArr, function(index, value){		// 印出陣列內容
				cout = cout + value + ';';
				$("#table4 tr td:contains('"+value+"')").parent().remove();		// 把蘊含該值的記錄整個列刪除
			});

			alert("刪除的記錄有：" + cout);	// 要做post的話改這邊
		});

		// 確定刪除or取消刪除週期性項目的按鈕
		$(".table4-del-submit").click(function(){
			$(".table4-del-submit").hide();
			$("#table4 tr:first th:first").remove();
			$("#table4 tr td:first-child").remove();
			$("#btn-duration-cost-del").animate({
				width:'toggle'
			});
		});

		
		
	});	// end document.ready()


	// 處理表格4的刪除項目按鈕按下的事件
	function table4deletionBtnHandler(){
		$("#table4 tr").each(function(index){
			if(index==0){
				$(this).prepend("<th style='text-align:center;''>刪除記錄</th>");
			
			}else{
				$(this).prepend("<td style='text-align:center;'><input type='checkbox' id='row" + index+ "'/></td>");
			}
		});

		$("#table4 tr:first th").each(function(index){
			switch(index) {
				case 0:
					$(this).addClass("col-md-1");
					break;
				case 1:
					$(this).removeClass("col-md-3");
					$(this).addClass("col-md-3");
					break;
				case 2:
					break;
				case 3:
					$(this).removeClass("col-md-5");
					$(this).addClass("col-md-4");
					break;
				default:
					alert('內容顯示錯誤，請洽工程師');
			}

		});
	}	// end function table4deletionBtnHandler()

	// 處理刪除子項目(右上角打叉)的處理
	function sub_category_deletionHandler(){
		$(".sub-category").click(function(){
			if( $(this).hasClass('confirm') ){
				var delSub = $(this);
				delSub.children().empty();
				var btnText = delSub.text().trim();

				var result = confirm("你真的要刪掉次分類：" + btnText + "嗎？");
				if(result){
					delSub.remove();	// 如果要做post做在這邊
					alert("刪除了" + btnText);
				}else{
					delSub.children().text("×");
				}
			}
		});
	}

    </script>

</head>

<body>

    <!-- whole page wrapper -->
    <div id="wrapper container">

        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".panel-group">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-book" href="/dashboard/"></a>
                <a  href="/dashboard/"><img src="../static/image/logo.png" alt="logo" class="navbar-brand glyphicon glyphicon-book" height="30px" width="200px" border="0" /></a>
            </div><!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                <!-- start bell dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 以後會放提醒內容
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 以後會放提醒內容
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-alerts -->
                </li><!-- /.dropdown -->

                <!-- start user dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/setting/"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    
                </li><!-- /.dropdown-user -->
                
            </ul><!-- /.dropdown -->
            
        </nav><!-- /.navbar-top-links -->
                   
                   <!-- main container -->
        <div class="container">
            <div class="row">
                <div><h1>個人帳戶設定 </h1> </div> 

                <div class="col-md-12 well" style="margin-top: 30px;">
                    <legend id="anch1">個人基本資料設定</legend>
                    <form>
                        <p><span class="item-title">帳 號: </span>
						    <input type="text" name="userName" placeholder="這裡之後會在page load時從資料庫抓帳號" readonly>
						    <button type="button" class="btn btn-primary" id="go-passwd-set">重設密碼</button>
						</p>
						<div class="passwd-set">
						    <span class="item-title">密 碼: </span>
						    <input type="text" name="userName" placeholder="請輸入密碼" class="passwd-set">
						    <span class="item-title">確認密碼: </span>
						    <input type="text" name="userName" placeholder="再次輸入密碼" class="">
						        <button type="button" class="btn btn-default passwd-submit" id="new-passwd-submit">
						        確認</button>
						        <button type="button" class="btn btn-default passwd-submit">取消修改</button>
						</div>

                    </form>
                </div>

                <div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">支出類別設定</span>
                    	<button type="button" class="edit-img-btn" id="btn-sub-category-add" style="background-image: url(/static/image/add.png);"></button>
                    	<button type="button" class="edit-img-btn" id="btn-sub-category-del" style="background-image: url(/static/image/delete.png);"></button>
                    	<button type="button" class="btn btn-success btn-md sub-category-del-submit" id="sub-category-del-finish">刪除完畢</button>
                    </legend>
                    <form>
					    <p>
						   <table class="table table-bordered table-striped table-responsive">
						      <thead> 
							     <th class="col-md-3">已設支出類別 </th>
								 <th class="col-md-9">已設支出子類別 </th>
							  </thead>
							  <tbody>
								  <tr> 
								     <td>食</td>
									 <td>
									    <button type="button" class="btn btn-link btn-md sub-category">早餐</button>
									    <button type="button" class="btn btn-link btn-md sub-category">午餐</button>
									    <button type="button" class="btn btn-link btn-md sub-category">晚餐</button>
									</td>

								  </tr>
								  <tr> 
								     <td>衣</td>
								     <td>
								     	<button type="button" class="btn btn-link btn-md sub-category">包包</button>
								     	<button type="button" class="btn btn-link btn-md sub-category">鞋子</button>
								     	<button type="button" class="btn btn-link btn-md sub-category">上衣</button>
								     </td>
								  </tr>
								  <tr> 
								     <td>住</td>
								     <td>
							     		<button type="button" class="btn btn-link btn-md sub-category">房租</button>
								     </td>
								  </tr>
								  <tr> 
								     <td>行</td>
								     <td>
								     	<button type="button" class="btn btn-link btn-md sub-category">計程車</button>
								     </td>
								  </tr>
								  <tr> 
								     <td>育</td>
								     <td></td>
								  </tr>
								  <tr> 
								     <td>樂</td>
								     <td></td>
								  </tr>
								  <tr> 
								     <td>其他</td>
								     <td></td>
								  </tr>
							  </tbody>
						   </table>
						</p>                        
                    </form>
                </div>

				<div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">單月預算上限設定</span>
                    </legend>
                    <form>
						   <table class="table table-bordered table-striped table-responsive">
						      <tr> 
							     <th class="col-md-3">支出類別 </th>
								 <th class="col-md-4">預算上限金額 </th>
								 <th class="col-md-5">逼近上限金額通知設定 </th>
							  </tr>
							  <tr> 
							     <td>食
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>衣 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>住 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>行 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>育 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>樂 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>其他 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
						   </table>
					</form>
                </div>

                <div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">分類預算上限設定</span>
                    </legend>
                    <form>
						   <table class="table table-bordered table-striped table-responsive">
						      <tr> 
							     <th class="col-md-3">支出類別 </th>
								 <th class="col-md-4">預算上限金額 </th>
								 <th class="col-md-5">逼近上限金額通知設定 </th>
							  </tr>
							  <tr> 
							     <td>食
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>衣 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>住 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>行 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>育 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>樂 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>其他 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
						   </table>
					</form>
                </div>

                <div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">週期性支出設定</span>
                    	<button type="button" class="edit-img-btn" id="btn-duration-cost-add" 
                    			style="background-image: url(/static/image/add.png);"></button>
                    	<button type="button" class="edit-img-btn" id="btn-duration-cost-del" 
                    			style="background-image: url(/static/image/delete.png);"></button>
                 		<button type="button" class="btn btn-success btn-md table4-del-submit" id="table4-del-finish">刪除完畢</button>
                    	<button type="button" class="btn btn-danger btn-md table4-del-submit" id="table4-del-cancel">取消刪除</button>
                    </legend>

                    <form>
						   <table class="table table-bordered table-striped table-responsive" id="table4">
						      <tr> 
							     <th class="col-md-3">週期性支出項目 </th>
								 <th class="col-md-4">預設支出日期 </th>
								 <th class="col-md-5">繳費提醒通知設定 </th>
							  </tr>
							  <tr> 
							     <td>房租
						         </td>
                                 <td>每月8號								 
								    <input type="submit" value="設定">
						         </td>
								 <td>每月3號
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>水費
						         </td>
                                 <td>每月10號								 
								    <input type="submit" value="設定">
						         </td>
								 <td>每月8號
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>電費
						         </td>
                                 <td>每月20號								 
								    <input type="submit" value="設定">
						         </td>
								 <td>每月18號
						            <input type="submit" value="設定">
						         </td>
							  </tr>
						   </table>
			           </form>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

    </div><!-- /#wrapper (whole page)-->

	

</body>

</html>