<!-- 這個頁面是設定頁 -->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MoneyKeeper</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    	<!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

		<!-- Custom CSS -->
    <link href="{% static 'dist/css/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

        <!--datepicker CSS-->
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    	<!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script> -->

    	<!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>


    <style type="text/css">
    	span.item-title {
			font-size: 20px;
			font-weight: 600;
			word-spacing:10px;
			white-space:nowrap;
    	}

    	input[type="text"] {
    		width: 25em;
    		height: 30px;
    	}

    	.edit-img-btn {
			border: 0; 
			background-color: transparent; 
			width: 32px; 
			height: 32px;    	
		}
    </style>

    <script>
    // 用來隱藏重設密碼的欄位
    function hidePasswdSetting(){
		$(".passwd-set").hide();
    }

	$(document).ready(function(){
		hidePasswdSetting();

		$("#go-passwd-set").click(function(){
			$(".passwd-set").animate({
				height: 'toggle'
			});
			$(this).hide();
		});

		$(".passwd-submit").click(function(){
			$(".passwd-set").animate({
				height: 'toggle'
			});
			$("#go-passwd-set").show(1000);
		});
	});
    </script>

</head>

<body>

    <!-- whole page wrapper -->
    <div id="wrapper container">

        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".panel-group">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-book" href="/dashboard/"></a>
                <a  href="/dashboard/"><img src="../static/image/logo.png" alt="logo" class="navbar-brand glyphicon glyphicon-book" height="30px" width="200px" border="0" /></a>
            </div><!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                <!-- start bell dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 以後會放提醒內容
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> 以後會放提醒內容
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul><!-- /.dropdown-alerts -->
                </li><!-- /.dropdown -->

                <!-- start user dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white;">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/setting/"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    
                </li><!-- /.dropdown-user -->
                
            </ul><!-- /.dropdown -->
            
        </nav><!-- /.navbar-top-links -->
                   
                   <!-- main container -->
        <div class="container">
            <div class="row">
                <div><h1>個人帳戶設定 </h1> </div> 

                <div class="col-md-12 well" style="margin-top: 30px;">
                    <legend id="anch1">個人基本資料設定</legend>
                    <form>
                        <p><span class="item-title">帳 號: </span>
						    <input type="text" name="userName" placeholder="這裡之後會在page load時從資料庫抓帳號" readonly>
						    <button type="button" class="btn btn-primary" id="go-passwd-set">重設密碼</button>
						</p>
						<div class="passwd-set">
						    <span class="item-title">密 碼: </span>
						    <input type="text" name="userName" placeholder="請輸入密碼" class="passwd-set">
						    <span class="item-title">確認密碼: </span>
						    <input type="text" name="userName" placeholder="再次輸入密碼" class="">
						        <button type="button" class="btn btn-default passwd-submit" id="new-passwd-submit">
						        確認</button>
						        <button type="button" class="btn btn-default passwd-submit">取消修改</button>
						</div>

                    </form>
                </div>

                <div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">支出類別設定</span>
                    	<button type="button" class="edit-img-btn" style="background-image: url(/static/image/add.png);"></button>
                    	<button type="button" class="edit-img-btn" style="background-image: url(/static/image/delete.png);"></button>
                    </legend>
                    <form>
					    <p>
						   <table class="table table-bordered table-striped table-responsive">
						      <thead> 
							     <th class="col-md-3">已設支出類別 </th>
								 <th class="col-md-9">已設支出子類別 </th>
							  </thead>
							  <tbody>
								  <tr> 
								     <td>食</td>
									 <td>
									    <button type="button" class="btn btn-link btn-md">早餐</button>
									    <button type="button" class="btn btn-link btn-md">午餐</button>
									    <button type="button" class="btn btn-link btn-md">晚餐</button>
									</td>

								  </tr>
								  <tr> 
								     <td>衣</td>
								     <td>
								     	<button type="button" class="btn btn-link btn-md">包包</button>
								     	<button type="button" class="btn btn-link btn-md">鞋子</button>
								     	<button type="button" class="btn btn-link btn-md">上衣</button>
								     </td>
								  </tr>
								  <tr> 
								     <td>住</td>
								     <td>
							     		<button type="button" class="btn btn-link btn-md">房租</button>
								     </td>
								  </tr>
								  <tr> 
								     <td>行</td>
								     <td>
								     	<button type="button" class="btn btn-link btn-md">計程車</button>
								     </td>
								  </tr>
								  <tr> 
								     <td>育</td>
								     <td></td>
								  </tr>
								  <tr> 
								     <td>樂</td>
								     <td></td>
								  </tr>
								  <tr> 
								     <td>其他</td>
								     <td></td>
								  </tr>
							  </tbody>
						   </table>
						</p>                        
                    </form>
                </div>

				<div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">單月預算上限設定</span>
                    </legend>
                    <form>
						   <table class="table table-bordered table-striped table-responsive">
						      <tr> 
							     <th class="col-md-3">支出類別 </th>
								 <th class="col-md-4">預算上限金額 </th>
								 <th class="col-md-5">逼近上限金額通知設定 </th>
							  </tr>
							  <tr> 
							     <td>食
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>衣 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>住 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>行 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>育 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>樂 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>其他 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
						   </table>
					</form>
                </div>

                <div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">分類預算上限設定</span>
                    </legend>
                    <form>
						   <table class="table table-bordered table-striped table-responsive">
						      <tr> 
							     <th class="col-md-3">支出類別 </th>
								 <th class="col-md-4">預算上限金額 </th>
								 <th class="col-md-5">逼近上限金額通知設定 </th>
							  </tr>
							  <tr> 
							     <td>食
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>衣 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>住 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>行 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>育 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>樂 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>其他 
                                 </td>
                                 <td>10000								 
								    <input type="submit" value="設定">
						         </td>
								 <td>8000
						            <input type="submit" value="設定">
						         </td>
							  </tr>
						   </table>
					</form>
                </div>

                <div class="col-md-12 well">
                    <legend id="anch1"><span style="margin-right: 10px;">週期性支出設定</span>
                    	<button type="button" class="edit-img-btn" 
                    			style="background-image: url(/static/image/add.png);"></button>
                    	<button type="button" class="edit-img-btn" 
                    			style="background-image: url(/static/image/delete.png);"></button>
                    </legend>

                    <form>
						   <table class="table table-bordered table-striped table-responsive">
						      <tr> 
							     <th class="col-md-3">週期性支出項目 </th>
								 <th class="col-md-4">預設支出日期 </th>
								 <th class="col-md-5">繳費提醒通知設定 </th>
							  </tr>
							  <tr> 
							     <td>房租
								    <input type="submit" value="修改">
						    	    <input type="submit" value="刪除">
						         </td>
                                 <td>每月8號								 
								    <input type="submit" value="設定">
						         </td>
								 <td>每月3號
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>水費
								    <input type="submit" value="修改">
						    	    <input type="submit" value="刪除">
						         </td>
                                 <td>每月10號								 
								    <input type="submit" value="設定">
						         </td>
								 <td>每月8號
						            <input type="submit" value="設定">
						         </td>
							  </tr>
							  <tr> 
							     <td>電費
								    <input type="submit" value="修改">
						    	    <input type="submit" value="刪除">
						         </td>
                                 <td>每月20號								 
								    <input type="submit" value="設定">
						         </td>
								 <td>每月18號
						            <input type="submit" value="設定">
						         </td>
							  </tr>
						   </table>
			           </form>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

    </div><!-- /#wrapper (whole page)-->

	

</body>

</html>